* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 560px;
    margin: 10px;
}

.section {
    width: 100%;
}

.section .main,
.section .top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.item {
    width: calc(100% / 7);
    /* height: calc(560px / 7); */
    border: solid 1px #ccc;
    text-align: center;
    margin-top: -1px;
    margin-left: -1px;
}

.week {
    padding: 10px 0;
}

.inner {
    padding: 10px 0;
    border: solid 1px transparent;
}

.inner.today {
    background: #ccc;
}

.inner:hover {
    border: solid 1px orangered;
}

.selected {
    border: solid 1px orangered;
}

.item:nth-child(7n + 1) {
    margin-left: 0px;
}

.item span:first-child {
    display: block;
    font-size: 28px;
}

.header {
    width: calc(100% - 6px);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.group {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.group input {
    border: none;
    height: 100%;
    width: 100%;
    background: none;
    text-align: center;
}

.group .prev,
.group .next {
    width: 30px;
    border: solid 1px #000;
    text-align: center;
    flex-shrink: 0;
}

.group .center {
    /* width:100%; */
}

.footer {
    width: calc(100% - 6px);
    border: solid 1px #ccc;
    font-size: 16px;
    line-height: 2;
}